*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-family: 'Rubik Moonrocks', cursive;
  font-size: 3rem;
  color: green;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards{
  width: 22rem;
  height: 30rem;
  text-align: center;
  margin-top: 30px;
  border: 3px solid black;
  border-radius: 10px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.1rem;
  transition: 1s all;
}

.cards:hover{
  transform: scale(1.1);
}

img{
  margin-top: 10px;
  margin-bottom: 5px;
  width: 15rem;
  border-radius: 20px;
}

li{
  list-style: none;
}

p{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1rem;
  color: green;
}